$mobile-breakpoint: 421px;

.App {
  background: url(https://images.pexels.com/photos/2007401/pexels-photo-2007401.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  padding-top: 12%;
}


@media (max-width: $mobile-breakpoint) {
  .App {
    background: linear-gradient(to bottom, #f5d361 0%, #e7bf3b 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
